@{
    ViewData["Title"] = "Home Page";
}
<header>
    <div class="topnav">
        <a class="active" href="Home">Home</a>
        <a href="Comic">Comic</a>
        <a href="Page">Pages</a>
    </div>
</header>
