@{
    ViewData["Title"] = "Home Page";
}


<div class="title">
    <img class="img" src="https://cdn.discordapp.com/attachments/614163253114961923/1092143172982931506/title.png">
</div>
<div class="containerb">
    <a asp-controller="Comics" asp-action="Index" class="btn idk">Create</a>
    
</div>

