@model IEnumerable<Comic>
@{
    ViewData["Title"] = "List of Comics";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <div class="topnav">
        <a href="Home">Home</a>
        <a class="active" href="Comics">Comics</a>
        <a href="Page">Pages</a>
    </div>
</header>
<div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
@foreach (var item in Model)
{
        <div class="card mb-4 box-shadow mostrakardo">
            <div class="card-body">
                <p class="card-title">Title:@item.Name</p>
                <p class="card-text">Pages:@item.PageCount</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="detailbtn btn btn-sm btn-outline-secondary">View</button>
                        <a type="button" class="pagesbtn btn btn-sm btn-outline-secondary "asp-controller="Comics" asp-action="Details" asp-route-id="@item.Id"> Edit</a>
                    </div>
                </div>
            </div>
        </div>
}
</div>
</div>
</div>
 <div style="position:fixed; right:25px;bottom:25px;">
<a asp-controller="Comics" asp-action="Create" class="btn idk">Create</a>
</div>