@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="topnav">
    <a href="/">Home</a>
    <a href="/Comics">Comics</a>
    <a href="Page">Pages</a>
</div>
<div class="row text-center">
    <h1 class="text-info">Erorr. The thing you are looking for is not found!</h1>
</div>