@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="title">
    <img class="img" src="https://cdn.discordapp.com/attachments/614163253114961923/1092143172982931506/title.png">
</div>
<div class="containerb">
    <button type="button" class="btn idk">Log in</button>
</div>

